.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.AppScroller {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 10rem;
}
.AppCenteredCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}
